		<!-- Header -->
			<div id="header">

				<!-- Inner -->
					<div class="inner" style> <!--="background:rgba(0,0,0,0.5);">-->
						<header>
							<h1><a href="index.html" id="logo">Magdalene MCR</a></h1>
							<hr />
							<p>Website and Student Page</p>
						</header>
						<footer>
							<!--ul class="icons">
							<a href="#banner" class="button circled scrolly">Formals</a>
								<a href="#banner" class="button circled scrolly">
									<i class="fa fa-twitter" aria-hidden="true"></i>
								</a>
							</ul-->
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							</ul>
						</footer>
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="about.html">About</a></li>
							<li>
								<a href="">New Students</a>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
									<li>
										<a href="">And a submenu &hellip;</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Phasellus consequat</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
										</ul>
									</li>
									<li><a href="#">Veroeros feugiat</a></li>
								</ul>
							</li>
							<li><a href="sport.html">Events</a></li>
							<li><a href="collegelife.html">College Life</a></li>
							<li><a href="social.html">Social</a></li>
							<li><a href="sport.html">Sport</a></li>

							<li><a href="right-sidebar.html">Right Sidebar</a></li>
							<li><a href="no-sidebar.html">No Sidebar</a></li>
						</ul>
					</nav>

			</div>
